@import 'colors';
@import 'variables';
@import 'fonts';
@import '_mixins';

/* Estilos Customs para el Main en Pages Proyects */
.main {}

/*Estilos de la Cabecera Menu Top*/
.content-nav-top {
  width: 100%;
  height: auto;
  padding: 0;

  @include media(lg) {
    height: 160px;
  }

  &.col-12 {
    padding: 0;
  }

  .navbar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $background;
    padding: 10px;

    @include media(lg) {
      padding: 0;
      padding-left: 20px;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $logo;
      letter-spacing: 4.5px;
      font-size: 20px;
      font-family: 'Cera Pro';

      @include media(sm) {
        font-size: 16px;
      }

      @include media(md) {
        font-size: 25px;
        justify-content: flex-end;
      }

      @include media(lg) {
        font-size: 45px;
      }
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      @include media(md) {
        width: 68%;
      }
    }

    .content-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;

      &.col-md-2 {
        padding: 0;
      }
    }

    .navbar-collapse {


      padding: 0;

      @include media(lg) {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .nav-item {
        font-family: 'Montserrat';
        font-weight: bold;
        color: $navitem;
        font-size: 15px;

        .nav-link {
          color: inherit;
          display: inline-block;

          &.es {
            padding-right: 0;
          }

          &.en {
            scroll-padding-right: 0;
            color: $inactive;
          }

          /* &.disabled {
            color: $inactive;

            &.es {
              color: $navitem;
            }
          } */
        }


      }


    }
  }

}


/*Estilos del contenedor lateral*/
.content-nav-lateral {
  width: 100%;
  height: 85%;

  &.col-12 {
    padding: 0;
  }

  .row {
    margin: 0;
    width: 100%;
    height: 10%;

    @include media(sm) {
      height: 100%;
    }

    .content-menu {
      background-color: $background;
      height: 100%;

      .navbar-nav-lateral {
        padding: 0;
        margin: 0;

        .nav-item {
          list-style: none;
          font-family: 'Montserrat';
          font-weight: bold;
          color: $navitem;
          font-size: 15px;

          &.disabled {
            color: $inactive;
          }

          &.active {
            color: $active;
          }
        }
      }
    }

    .content-body {

      &.col-md-11 {
        padding: 0;
      }

      .row {
        .col-a {
          background-color: #b1b17f;
        }

        .col-b {
          background-color: #202046;
        }

        .col-c {
          background-color: #4c0505;
        }
      }
    }
  }

}