@import 'colors';
@import 'variables';
@import 'fonts';

/* Estilos Customs para el Main en Pages Proyects */
.main {}

/*Estilos de la Cabecera Menu Top*/
.content-nav-top {
  width: 100%;
  height: 15%;

  &.col-12 {
    padding: 0;
  }

  .nav {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $background;

    .row {
      width: inherit;
      height: inherit;
      margin: 0;

      .content-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $logo;
        letter-spacing: 4.5px;
        font-size: 45px;
        font-family: 'Cera Pro';

        &.col-md-1 {
          padding: 0;
        }
      }

      .content-search {
        display: flex;
        justify-content: center;
        align-items: center;

        &.col-md-2 {
          padding: 0;
        }
      }

      .content-items {
        display: flex;
        justify-content: center;
        align-items: center;

        &.col-md-8 {
          padding: 0;
        }
      }
    }

  }
}

/*Estilos del contenedor lateral*/
.content-nav-lateral {
  width: 100%;
  height: 85%;

  &.col-12 {
    padding: 0;
  }

  .row {
    margin: 0;
    width: 100%;
    height: 100%;

    .content-menu {
      background-color: $background;
      height: 100%;
    }

    .content-body {
      &.col-md-11 {
        padding: 0;
      }
    }
  }

}