@import 'colors';
@import 'variables';
@import 'fonts';
@import '_mixins';

/* Estilos Customs para el Main en Pages Proyects */
.main {}

/*Estilos de la Cabecera Menu Top*/
.content-nav-top {
  width: 100%;
  height: 160px;

  &.col-12 {
    padding: 0;
  }

  .nav {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $background;

    .row {
      width: inherit;
      height: inherit;
      margin: 0;

      .content-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $logo;
        letter-spacing: 4.5px;
        font-size: 20px;
        font-family: 'Cera Pro';

        @include media(sm) {
          font-size: 16px;
        }

        @include media(md) {
          font-size: 25px;
          justify-content: flex-end;
        }

        @include media(lg) {
          font-size: 45px;
        }

        &.col-md-1 {
          padding: 0;
        }
      }

      .content-search {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;

        &.col-md-2 {
          padding: 0;
        }
      }

      .content-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;

        /*  @include media(md) {
          justify-content: flex-end;
        } */

        &.col-md-8 {
          padding: 0;
        }

        .nav-item {
          font-family: 'Montserrat';
          font-weight: bold;
          color: $navitem;
          font-size: 15px;

          .nav-link {
            color: inherit;
            display: inline-block;

            &.es {
              padding-right: 0;
            }

            &.en {
              scroll-padding-right: 0;
            }
          }
        }
      }
    }

  }
}

/*Estilos del contenedor lateral*/
.content-nav-lateral {
  width: 100%;
  height: 85%;

  &.col-12 {
    padding: 0;
  }

  .row {
    margin: 0;
    width: 100%;
    height: 10%;

    @include media(sm) {
      height: 100%;
    }

    .content-menu {
      background-color: $background;
      height: 100%;
    }

    .content-body {
      &.col-md-11 {
        padding: 0;
      }
    }
  }

}